body{
font-family: Arial;
background:#f4f4f4;
margin:0;
}

header{
background:#35577D;
color:white;
text-align:center;
padding:20px;
}

section{
background:white;
margin:20px;
padding:20px;
border-radius:6px;
}

button{
background:#35577D;
color:white;
border:none;
padding:10px;
cursor:pointer;
}

input, textarea{
width:100%;
padding:8px;
margin:5px 0;
}

table{
width:100%;
border-collapse:collapse;
}

td, th{
border:1px solid #ccc;
padding:8px;
}